In [1]:
#Experiment 8 PALLAWI KUMARI 25070123083
#Print numbers from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [2]:
#Print even numbers from 1 to 10
for i in range (2,11,2):
  print(i)

2
4
6
8
10

In [5]:
#write a python program to print sum of first n number
n = int(input("enter the value of n:"))
total = 0
for i in range(1,n+1):
  total = total + i
  print(total)

enter the value of n:10
1
3
6
10
15
21
28
36
45
55

In [7]:
# write a matrix in python
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]
a = [l1,l2, l3]
for i in range (3):
  for j in range (3):
    print(a[i][j], end = " ")
  print()

1 2 3
4 5 6
7 8 9

In [9]:
# write a matrix in python
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]
a = [l1,l2, l3]
for row in a:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [10]:
#Multiplication of two 3x3 matrices(most important)
A = [[1, 2, 3],
     [4, 5, 6],
     [1, 2, 1]]

B = [[1, 1, 1],
     [6, 7, 8],
     [3, 2, 1]]

result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]
for i in range(3):
  for j in range (3):
    for k in range(3):
      result[i][j] += A[i][k]*B[k][j]
print("product of matrices")
for row in result:
  print(row)

product of matrices
[22, 21, 20]
[52, 51, 50]
[16, 17, 18]

In [11]:
#python program to accept three digitd and print all possible comlination
d1 = 1
d2 = 2
d3 = 3
d =[d1, d2, d3]
for i in range (0,3):
  for j in range (0,3):
    for k in range (0,3):
      if (d[i]!=d[j] and d[i]!=d[k] and d[j]!=d[k]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [17]:
# write a right angle triangle using python

for i in range(12, 0, -1):
  print('@' * i)

@@@@@@@@@@@@
@@@@@@@@@@@
@@@@@@@@@@
@@@@@@@@@
@@@@@@@@
@@@@@@@
@@@@@@
@@@@@
@@@@
@@@
@@
@

In [22]:
row = 6 #pyramid

for i in range(1, row + 1):
    print(" " * (row - i) + "* " * i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *